div {
    width: 75%;
    background-color: #3399cc;
    border: 23px solid #2b81ac;
    color: white;
    margin: auto;
}

h2 {
    padding-left: 310px;
    font-size: 37px;
}

ul {
    display: block;
    width: 60%;
    font-size: 0;
    margin: auto;
    padding: 0;
    padding-top: 40px;
    padding-bottom: 30px;
}

li {
    display: inline-block;
    font-size: 37px;
    color: white;
    height: 110px;
    text-align: center;
    vertical-align: middle;
    padding: 0;
    padding-top: 40px;
}

p {
    padding-left: 310px;
    font-size: 30px;
    margin-top: 0px;
}

.fifty {
    width: calc((100% - 16px)/2);
}

.twenty_five {
    width: calc((100% - 24px)/4);
}

.one_hundred {
    width: calc((100% - 12px));
}

.blue {
    background-color: #3399cc;
    border-top: solid white 4px;
    border-right: solid white 2px;
    border-bottom: solid white 2px;
    border-left: solid white 4px;
}

.cyan {
    border-top: solid white 4px;
    border-right: solid white 2px;
    border-bottom: solid white 2px;
    border-left: solid white 2px;
}

.lighte_purle {
    border-top: solid white 4px;
    border-right: solid white 4px;
    border-bottom: solid white 2px;
    border-left: solid white 2px;
}

.red {
    background-color: #c24747;
    border-top: solid white 2px;
    border-right: solid white 2px;
    border-bottom: solid white 2px;
    border-left: solid white 4px;
}

.orange {
    background-color: #e2674a;
    border-top: solid white 2px;
    border-right: solid white 2px;
    border-bottom: solid white 2px;
    border-left: solid white 2px;
}

.yellow {
    background-color: #ffcc66;
    border-top: solid white 2px;
    border-right: solid white 2px;
    border-bottom: solid white 2px;
    border-left: solid white 2px;
}

.lighte_green {
    border-top: solid white 2px;
    border-right: solid white 4px;
    border-bottom: solid white 2px;
    border-left: solid white 2px;
}

.marine {
    background-color: #669999;
    border-top: solid white 2px;
    border-right: solid white 2px;
    border-bottom: solid white 2px;
    border-left: solid white 4px;
}

.rose {
    background-color: #cc6699;
    border-top: solid white 2px;
    border-right: solid white 2px;
    border-bottom: solid white 2px;
    border-left: solid white 2px;
}

.green {
    background-color: #339966;
    border-top: solid white 2px;
    border-right: solid white 4px;
    border-bottom: solid white 2px;
    border-left: solid white 2px;
}

.deep_purple {
    background-color: #666699;
    border-top: solid white 2px;
    border-right: solid white 4px;
    border-bottom: solid white 4px;
    border-left: solid white 4px;
}

ul:hover li {
    opacity: 0.5;
}

ul:hover li:hover {
    opacity: 1;
}